---
import Base from "../layouts/Base.astro"
---

<Base>
    <h2>Acerca de Ladrillos</h2>
    <p>    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto ratione quos perspiciatis autem aspernatur ab. Placeat cupiditate sit odio autem quis deserunt, dolorem earum neque numquam ipsa maxime? Accusantium, nisi!
    </p>
</Base>